<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.zhangfuyu.cms.dao.UserMapper">
<!--根据UserId查询用户-->
 	<select id="findUserById" resultType="user">
		 SELECT * FROM cms_user WHERE id = #{value} limit 1
	</select>  
	<!--查询用户列表  -->
	<select id="list" resultType="user">
 	select * from cms_user where role=0
 	</select>
 </mapper> 